html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

p{
    font-size: 25px;
    padding: 15px;
}

#container{

    height: 100%;
    background-color: chartreuse;

}

#topoTitulo{

    height: 25%;
    background-color: orange;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;

}

#meioPerguntas{
 
    width: 28%;
    border: solid black;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;

}

.PerguntasCaixa{

    display: flex;

}

#meioLabels{

    height: 7%;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.EscolhaCaixa{

    display: flex;

}

.RespostasCaixa{

    display: flex;
    justify-content: space-around;

}

select{

    width: 200px;
    height: 30px;
    border-radius: 0px;
    border: none;
}
#meioSelects{

    height: 27%;
    background-color: aquamarine;

}

#baixoResultado{

    height: 18%;
    font-size: 20px;
    background-color: darkmagenta;

}