html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

p{
    font-size: 25px;
    padding: 15px;
    
}

h2{

    color: white;
    background-color:#78459E;        
    font-size: 25px;

}

.quest{

    width: 80%;
    margin-left: 10%;
}   

#container{

    height: 100%;
    background-color: #78459E;

}

#topoTitulo{

    height: 25%;
    padding-bottom: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;

}

#meioPerguntas{
 
    width: 28%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;

}

.PerguntasCaixa{

    display: flex;

}

#meioLabels{

    height: 7%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    
}
.EscolhaCaixa{

    color: white;
    display: flex;

}

.RespostasCaixa{

    display: flex;
    justify-content: space-around;

}

select{

    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 0px;
    border: none;
    cursor: pointer;

}

option{
    
    font-size: 15px;
    
}

button:hover{
    
    cursor: pointer;
    background-color: #C8BFE7;

}

#baixoResultado{

    margin-top: 100px;
    font-size: 25px;

}
